body {
  /* font-family: 'Montserrat', sans-serif; */
  background-color: #34373c;
}

.memelist {
  padding-top:70px;
  margin-left:15%;
  margin-right:15%;
}

.nav-container{
width:100%;
height: 70px;
box-sizing: border-box;
/* border-color: tomato; */
/* border-style: solid; */
display: flex;
position: relative;
justify-content: space-between;
background-color: #141518;
}

.left-box {
  position: relative;
  height: 100%;
  width: 33%;
}

.title-container {
  /* margin: auto; */
 
  position: relative;
  height: 100%;
  width: 33%;
  
}

.login-container {
  
  position: relative;
  height: 100%;
  width: 33%;
}

.title {
  margin-left: 33%;
  height: 100%;
  width:100%;
  font-size:40px;
  color:whitesmoke;
  padding-top:2%;
}

.login {
  margin-left:50%;
  font-size:22px;
  margin-top:5%;
}

.login-link {
  color:whitesmoke;
  text-decoration: none;
}

.memelist {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  padding-top:50px;

}

.meme-box {
  height:30%;
  width: 30%;
  margin: 7px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color:#2c2f34;
  position: relative;
  /* border-style: solid;
  border-color: black; */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
} 

.meme-photo-container {
/* height: 100%;
width: 100%; */
position: relative;
width: 100%;
}
.meme-photo-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.meme-photo {
max-height: 100%;
max-width:100%;
position: absolute;
top:0;
left:0;
right: 0;
bottom: 0;

}

.meme-title {
  text-align: center;
  color: whitesmoke;
  /* font-size: 20px; */
  font-size: 100%;
}

.meme-center {
  display: flex;
  justify-content: center;
  padding-top:30px;
}

.single-meme-title {
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
}

.single-meme-container {
  padding-bottom: 70px;
}

.single-meme-photo {
  max-height: 80vh;
  max-width: 80vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.profile-picture-container {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  position: relative;
}

.favorite-button {
  /* margin-left: 47%; */
  margin-bottom:30px;
  /* background-color: #4CAF50; */
  background-color: #141518;
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    height: 30px;
    width: 90px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.favorite-container {
  display: flex;
  justify-content: center;
  
}
