.memelist {
  padding-top:70px;
  margin-left:15%;
  margin-right:15%;
}

.nav-container{
width:100%;
height: 70px;
box-sizing: border-box;
border-bottom: 3px;
border-color: tomato;
border-style: solid;
display: flex;
position: fixed;
justify-content: space-between;
}

.left-box {
  position: relative;
  height: 100%;
  width: 33%;
}

.title-container {
  /* margin: auto; */
 
  position: relative;
  height: 100%;
  width: 33%;
  
}

.login-container {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 100%;
  width: 33%;
}

.title {
  margin-left: 33%;
  height: 100%;
  width:100%;
  font-family: 'Montserrat', sans-serif;
  font-size:40px;
  color:tomato;
  padding-top:2%;
}

.login {
  margin-left:50%;
  font-size:22px;
  margin-top:5%;
}

.login-link {
  color:tomato;
}